{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pl" class="h-full bg-gray-100">
	<head>
    <title>Django Project</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="h-full">
		<div class="min-h-full">
			<div class="bg-gray-800 pb-32">
				<nav class="bg-gray-800">
					<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
						<div class="border-b border-gray-700">
							<div class="flex h-16 items-center justify-between px-4 sm:px-0">
								<div class="flex items-center">
									<div class="shrink-0">
										<img class="size-8" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
									</div>
									<div class="block">
										<div class="ml-10 flex items-baseline space-x-4">
											<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
											<a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Menu główne</a>
											<a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Wszystkie produkty</a>
											<a href="#" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Dodaj produkt</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<header class="py-10">
					<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
						<h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1>
					</div>
				</header>
			</div>

			<main class="-mt-32">
				<div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
					<div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
						{% block content %}{% endblock %}
					</div>
				</div>
			</main>
		</div>
		{% include 'theme/footer.html' %}
	</body>
</html>
