{% extends 'theme/base.html' %}

{% block page_titlle %}
    Django - Wszystkie Produkty
{% endblock %}

{% block title %}
    <a href="{% url 'wszystkie_produkty' %}" class="text-base inline-flex items-center justify-center rounded-full bg-blue-600 mr-5 pl-2 pr-4 py-1 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-all duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>    
      Cofnij
    </a>
    Produkt: {{produkt.nazwa}}
{% endblock %}

{% block content %}
  <div class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:gap-x-8 relative">
    <div class="sm:col-span-4 lg:col-span-5">
      <img src="https://tailwindui.com/plus/img/ecommerce-images/product-page-03-product-04.jpg" alt="Back angled view with bag open and handles to the side." class="aspect-square w-full rounded-lg bg-gray-100 object-cover">
    </div>
    <div class="sm:col-span-8 lg:col-span-7">
      <h2 class="text-2xl font-bold text-gray-900 sm:pr-12">{{produkt.nazwa}}</h2>

      <section aria-labelledby="information-heading" class="mt-3">
        <h3 id="information-heading" class="sr-only">Product information</h3>

        <p class="text-2xl text-gray-900">{{produkt.cena}} zł</p>

        <div class="mt-3">
          {% if produkt.dostepny %}
            <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
              <svg class="size-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Dostępny
            </span>
          {% else %}
            <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
              <svg class="size-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Niedostępny
            </span>                
          {% endif %}
        </div>

        <div class="mt-6">
          <h4 class="sr-only">Description</h4>

          <p class="text-sm text-gray-700">{{produkt.opis}}</p>
        </div>
      </section>
    </div>
    <div class="flex flex-col absolute top-2 left-2 gap-2">
      <a href={% url 'product_edit_path' produkt.id %} class="group w-fit flex flex-row items-center justify-center rounded-full bg-blue-600 p-2 text-white shadow-sm
        hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-all duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>    
        <div class="flex items-center ml-2 transition-all duration-300 group-hover:w-14 w-0 -mr-2 overflow-hidden">
          <span class="opacity-0 scale-90 group-hover:opacity-100 group-hover:scale-100 transition-transform duration-300 text-sm whitespace-nowrap">
            Edytuj
          </span>
        </div>
      </a>
      <form action="{% url 'wszystkie_produkty' %}" method="POST" class="group w-fit flex flex-row items-center justify-center rounded-full bg-blue-600 p-2 text-white shadow-sm
        hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-all duration-300 relative">
        {% csrf_token %}
        <input type="hidden" name="delete_product_id" value="{{ produkt.id }}">
        <button type="submit" onclick="return confirm('Czy na pewno chcesz usunąć produkt {{ produkt.nazwa }}?')" class="absolute inset-0"></button>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>    
        <div class="flex items-center ml-2 transition-all duration-300 group-hover:w-12 w-0 -mr-2 overflow-hidden pointer-events-none">
          <span class="opacity-0 scale-90 group-hover:opacity-100 group-hover:scale-100 transition-transform duration-300 text-sm whitespace-nowrap">
            Usuń
          </span>
        </div>
    </form>
    </div>
  </div>
{% endblock %}
