@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX(0);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-10%);
    }
  }

  .notification-fade-out {
    animation: fadeOut 4s ease-in-out;
  }
} 